wz-input {
  .error .input-container {
    border-color: var(--negative-base);
    &:focus-within {
      border-color: var(--negative-base);
    }
  }

  wz-error {
    display: block;
    height: 16px;
  }

  .input-container {
    display: flex;
    align-items: center;
    border-radius: 3px;
    background-color: var(--ink-clear);
    border: solid 1px;
    height: 40px;
    overflow: hidden;
    border-color: var(--ink-light);

    &:focus-within {
      border-color: var(--primary-base);
    }

    input {
      padding: 8px 16px;
      outline: none !important;
      border: none;
      font-size: 14px;
      width: 100%;

      &:disabled {
        color: var(--neutral-dark);
      }
    }
  }
}
