.flex-icon {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.flex-icon.separate {
  width: 15rem;
}

.flex-icon.close {
  width: 10rem;
}

.border-cell {
  border: solid 1px;
  text-align: center;
}

.btn-table {
  text-align: center;
}

.btn-table > table > tbody > tr > td > button {
  margin: 0.5rem auto;
}
