@mixin fontWeight {
  &.bold {
    font-weight: bold;
  }

  &.semibold {
    font-weight: 600;
  }
}

@mixin transition($property: all) {
  transition: $property 166ms cubic-bezier(0.4, 0, 0.2, 1);
}
