:root {
  --background-base: #F7F9FA;

  --info-light: #8A9BB7;
  --info-base: #5C6D87;
  --info-dark: #31425A;

  --ink-clear: #FFF;
  --ink-light: #828A8F;
  --ink-base: #3F484B;
  --ink-dark: #182123;

  --negative-light: #FF5864;
  --negative-base: #E0103A;
  --negative-dark: #A60015;

  --neutral-light: #FCFCFC;
  --neutral-base: #E6E7E8;
  --neutral-dark: #8D9396;

  --positive-light: #5DD285;
  --positive-base: #20A057;
  --positive-dark: #00702C;

  --primary-light: #63A3FF;
  --primary-base: #1976D2;
  --primary-dark: #004A9F;

  --secondary-dark: ##E6E7E8;

  --surface-base: #FFF;

  --warning-light: #FFF350;
  --warning-base: #F9A825;
  --warning-dark: #C79100;
}
