:root {
  --background-base: #FAFAFA;

  --info-light: #7A91C7;
  --info-base: #4765AA;
  --info-dark: #3E5693;

  --ink-clear: #F0F0F0;
  --ink-light: #717171;
  --ink-base: #262626;
  --ink-dark: #182123;

  --negative-light: #EA103C;
  --negative-base: #C80E33;
  --negative-dark: #A20B29;

  --neutral-light: #FAFAFA;
  --neutral-base: #EBEBEB;
  --neutral-dark: #919191;

  --positive-light: #20883E;
  --positive-base: #1A7032;
  --positive-dark: #166028;

  --primary-light: #1D8BF2;
  --primary-base: #0A76DB;
  --primary-dark: #0966bE;

  --secondary-light: #FFF;
  --secondary-base: #FFF;
  --secondary-dark: #E6E7E8;

  --surface-base: #FFF;

  --warning-light: #FFF350;
  --warning-base: #FDb81E;
  --warning-dark: #B17F10;
}
