wz-dropdown-menu-item {
  .dropdown-menu-item-container {
    --dropdown-menu-item-color: var(--ink-base);
    display: flex;
    align-items: center;
    min-height: 32px;
    width: 100%;
    padding: 0 8px;
    background-color: var(--ink-clear);
    &.selected {
      background-color: var(--background-base);
    }
    &:hover:not(.selected) {
      background-color: var(--primary-base);
      cursor: pointer;
      --dropdown-menu-item-color: var(--ink-clear);
    }
  }
}
