wz-checkbox {
  > .checkbox-container {
    display: inline-flex;
    height: 16px;
  }

  input {
    appearance: none;
    margin-right: 8px;
    padding: 7px;
    display: inline-block;
    position: relative;

    background-color: var(--surface-base);
    border: 1px solid var(--primary-base);
    border-radius: 1px;
    &:focus {
      outline: none;
    }

    &:checked {
      color: var(--primary-dark);

      &:after {
        content: "\2713";
        font-size: 16px;
        position: absolute;
        top: -3px;
        left: 0px;
        color: var(--primary-dark);
      }

      &:hover:after {
        color: var(--secondary-dark);
      }
    }

    &:disabled,
    &:disabled:checked:after,
    &:disabled:hover:after {
      border-color: var(--neutral-base);
      color: var(--ink-light);
    }
  }
}

