:root {
  --button-primary-background-color: var(--blue-base);
  --button-destructive-background-color: var(--red-base);
  --button-text-color: var(--white-base);
  --button-secondary-background-color: var(--white-base);
  --button-secondary-text-color: var(--ink-darken-10);
  --button-secondary-border-color: var(--blue-base);
}
