cs-button {
  display: block;

  button {
    background-color: green;
    padding: 5px 15px;
    border-radius: 10px;
    user-select: none;
    height: 48px;
    min-width: 100px;
    border: 0;
    outline: 0;
    font-size: 18px;

    &:hover {
      background-color: #f36e6e;
      cursor: pointer;
    }

    &:active {
      background-color: #f15555;
    }
  }
}
