wz-text {
   --wz-text-color: var(--ink-base);
  span {
    @include fontWeight;
    color: var(--wz-text-color);

    &.default {
      font-size: 14px;
    }

    &.small {
      font-size: 12px;
    }
  }
}
