@font-face {
  font-family: 'ProximaNova';
  src: url('./ProximaNova-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('./ProximaNova-Light.woff2') format('woff2');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('./ProximaNova-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('./ProximaNova-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}
