.flex-icon {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.flex-icon.separate {
  width: 15rem;
}

.flex-icon.close {
  width: 10rem;
}

.border-cell {
  border: solid 1px;
  text-align: center;
}
