wz-textarea {
  .textarea-container {
    background-color: var(--ink-clear);
    border: solid 1px;
    border-color:  var(--neutral-base);

    &:focus-within {
      border-color:  var(--primary-light);
    }

    textarea {
      padding: 8px 16px;
      border: none;
      font-size: 14px;
      resize: none;
      outline: none !important;
      width: 100%;
      overflow: hidden;
    }
  }

}
