wz-textarea {
  textarea {
    padding: 8px 16px;
    border: none;
    background-color: var(--ink-clear);
    border: solid 1px;
    border-color: var(--ink-light);
    font-size: 14px;
    resize: none;
    outline: none !important;
    width: 100%;

    &:focus {
      border-color:  var(--primary-light);
    }
  }

}
