wz-textarea {

  .error textarea {
    border-color: var(--negative-base);
    &:focus-within {
      border-color: var(--negative-base);
    }
  }

  wz-error {
    display: block;
    height: 16px;
  }

  textarea {
    padding: 8px 16px;
    border: none;
    background-color: var(--surface-base);
    border: solid 1px;
    border-color: var(--ink-light);
    font-size: 14px;
    resize: none;
    outline: none !important;
    width: 100%;

    &:focus {
      border-color:  var(--primary-light);
    }
  }

}
