:root {
  --blue-lighten-40: #DCEDFA;
  --blue-lighten-30: #B9DBF5;
  --blue-lighten-20: #96C9F0;
  --blue-lighten-10: #73B7EB;
  --blue-base: #50A5E7;
  --blue-darken-10: #4D92C7;
  --blue-darken-20: #B2814C;
  --blue-darken-30: #466D89;
  --blue-darken-40: #425B6A;
}
