:root {
  --primary-light: #63A3FF;
  --primary-base: #1976D2;
  --primary-dark: #004A9F;

  --ink-light: #828A8F;
  --ink-base: #3F484B;
  --ink-dark: #182123;
  --ink-clear: #FFF;

  --background-base: #F7F9FA;
  --surface-base: #FFF;

  --negative-light: #FF5864;
  --negative-base: #E0103A;
  --negative-dark: #A60015;

  --neutral-dark: #8D9396;
}
