:root {
  --red-lighten-40: #FAD3D2;
  --red-lighten-30: #F6A8A5;
  --red-lighten-20: #F17D79;
  --red-lighten-10: #ED524C;
  --red-base: #E92720;
  --red-darken-10: #C72D28;
  --red-darken-20: #A43431;
  --red-darken-30: #833A39;
  --red-darken-40: #614243;
}
