wl-button {
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    padding: 0 24px;
    border-radius: 5px;
    color: white;
    border: none;
    background-color: white;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.03),
      inset 0 -3px 0 0 rgba(0, 0, 0, 0.08);
  }
  button {
    &.primary {
      background-color: #50a5e7;
    }
    &.destructive {
      background-color: red;
    }
    &.secondary {
      color: black;
      border: solid 1px #a2abaf;
      box-shadow: none;
    }
  }
}
